<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ControladorUsuarios</servlet-name>
        <servlet-class>controladores.usuarios.ControladorUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PeticionesAjax</servlet-name>
        <servlet-class>utilidades.PeticionesAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorSesiones</servlet-name>
        <servlet-class>controladores.usuarios.ControladorSesiones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorOferta</servlet-name>
        <servlet-class>controladores.ofertas.ControladorOferta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPedido</servlet-name>
        <servlet-class>controladores.pedidos.ControladorPedido</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorUsuarios</servlet-name>
        <url-pattern>/ControladorUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PeticionesAjax</servlet-name>
        <url-pattern>/PeticionesAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorSesiones</servlet-name>
        <url-pattern>/ControladorSesiones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorOferta</servlet-name>
        <url-pattern>/ControladorOferta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorPedido</servlet-name>
        <url-pattern>/ControladorPedido</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
